#include <windows.h>
#include "resource.h"

#pragma code_page(65001)

/////////////////////////////////////////////////////////////////////////////
// 日本語 (日本) resources

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_JPN)
LANGUAGE LANG_JAPANESE, SUBLANG_DEFAULT

/////////////////////////////////////////////////////////////////////////////
//
// Menu
//

ID_MENU MENU
BEGIN
    POPUP "ファイル(&F)"
    BEGIN
        MENUITEM "設定(&S)...", IDM_SETTING
        MENUITEM SEPARATOR
        MENUITEM "終了(&E)", IDM_EXIT
    END
    POPUP "機能(&U)"
    BEGIN
        MENUITEM "フォーカスモード(&F)", IDM_FOCUSMODE
        MENUITEM "アプリタイマー(&T)", IDM_APPTIMER
        MENUITEM SEPARATOR
        MENUITEM "常駐(&R)", IDM_RESIDENT
        MENUITEM "スタートアップ(&S)", IDM_STARTUP
    END
    POPUP "ヘルプ(&H)"
    BEGIN
        MENUITEM "このアプリについて(&A)...", IDM_ABOUT
    END
END

/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE
BEGIN
    IDM_FILE           "ファイル(&F)"
    IDM_USERBILITY    "機能(&U)"
    IDM_HELP           "ヘルプ(&H)"
END

#endif    // 日本語 (日本) resources
/////////////////////////////////////////////////////////////////////////////

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENU)
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US


ID_MENU MENU
BEGIN
    POPUP "File(&F)"
    BEGIN
        MENUITEM "Settings(&S)...", IDM_SETTING
        MENUITEM SEPARATOR
        MENUITEM "Exit(&E)", IDM_EXIT
    END
    POPUP "Usability(&U)"
    BEGIN
        MENUITEM "Focus Mode(&F)", IDM_FOCUSMODE
        MENUITEM "App Timer(&T)", IDM_APPTIMER
        MENUITEM SEPARATOR
        MENUITEM "Resident(&R)", IDM_RESIDENT
        MENUITEM "Start up(&S)", IDM_STARTUP
    END
    POPUP "Help(&H)"
    BEGIN
        MENUITEM "About this App(&A)...", IDM_ABOUT
    END
END


STRINGTABLE
BEGIN
    IDM_FILE        "File(&F)"
    IDM_USERBILITY  "Uservility(&U)"
    IDM_HELP        "Help(&H)"
END

#endif

/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

APPICON                 ICON                    "./resources/appicon.ico"


IDD_ABOUT DIALOGEX 0, 0, 170, 62
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "このアプリについて"
FONT 18, "MS UI Gothic"
BEGIN
    ICON            APPICON,IDC_STATIC,20,16,20,20
    LTEXT           "YYScreenTime_win ver.α0.2",IDC_STATIC,50,14,114,8,SS_NOPREFIX
    LTEXT           "Copyright (C) yy-tromb 2023",IDC_STATIC,50,26,114,8
    DEFPUSHBUTTON   "OK",IDOK,113,41,50,14,WS_GROUP
END
